<!DOCTYPE html>
<html lang="en" ng-app="DMS">
<head>
    <meta charset="utf-8" />
    <base href="/DMS/" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <script>
        jQuery(document).ready(function ($) {
            $('.collapse-sidebar').on('click', function () {
                $('#wrapper').toggleClass('active');

                return false;
            });
        });
    </script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/angular-local-storage.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>    
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script src="~/scripts/datatables/jquery.datatables.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>
    <script src="~/Scripts/ddaccordion.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/JS/Login/Signupmodule.js"></script>
    <script src="~/JS/appConfig.js"></script>
    <script src="~/JS/Common.js"></script>
    <script src="~/JS/Services/DocumentService.js"></script>
    <script src="~/JS/Services/HomeService.js"></script>
    <script src="~/JS/Services/RegistrationService.js"></script>
    <script src="~/JS/Services/SkillsService.js"></script>
    <script src="~/JS/Services/UsersSkillService.js"></script>
    <script src="~/JS/Controller/DocumentController.js"></script>
    <script src="~/JS/Controller/RegistrationController.js"></script>
    <script src="~/JS/Controller/loginController.js"></script>
    <script src="~/JS/Controller/HomeController.js"></script>
    <script src="~/JS/Controller/SkillsController.js"></script>
    <script src="~/JS/Controller/UsersSkillController.js"></script>
    <script src="~/Scripts/jquery.responsiveTabs.js"></script>

    @*@Scripts.Render("~/Scripts/Accordian")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/login")
        @Scripts.Render("~/bundles/SignUp")

        @Scripts.Render("~/bundles/appConfig")
        @Scripts.Render("~/bundles/Services")
        @Scripts.Render("~/bundles/Controller")
        @Scripts.Render("~/bundles/modernizr")*@
</head>


<body>
    <div id="main" ng-controller="HomeController">
        <!-- wrapper start -->
        <div id="wrapper">
            <!-- header start -->
            <header id="header">
                <div class="navbarlink"><a href="#" ng-show="ViewSidebar" class=" collapse-sidebar"></a></div>
                <div class="logo"><a href="#"></a></div>
                <ul class="nav navbar-right top-nav">
                    <li class="userli">
                        <a href="#" class="user">
                            <span class="user-img"><img src="~/Images/user-img.jpg" alt="" /></span>
                            <span class="uname"><b>Welcome</b>{{UserName}}</span>
                        </a>
                    </li>
                    @*<li><a href="#" class="logout"></a></li>
                        <li><a href="#" class="settings"></a></li>*@
                </ul>
            </header>
            <!-- header end -->
            <!-- sidebar start -->
            <div id="sidebar">
                <div id="myscrl" class="sidebar-menu">
                    <h3 class="menuheader"><a href="#" ui-sref="Home"><i class="dashboard"></i>Dashboard</a></h3>
                    <h3 class="menuheader expandable"><a href=""><i class="debit-orders"></i>Documents</a></h3>
                    <ul class="sidebar-list">
                        <li><a href="" ui-sref="DocumentDetail">Show Document</a></li>
                    </ul>
                    <h3 class="menuheader expandable"><a href=""><i class="debit-orders"></i>User's Skill</a></h3>
                    <ul class="sidebar-list">
                        <li><a href="" ui-sref="ShowUsersSkill">Show Users Skills</a></li>                        
                    </ul>
                    <h3 class="menuheader expandable"><a href=""><i class="debit-orders"></i>Skills</a></h3>
                    <ul class="sidebar-list">
                        <li><a href="" ui-sref="ShowSkills">Show Skills</a></li>
                    </ul>
                </div>
            </div>
            <!-- sidebar end -->
            <!-- content start -->

            <div id="page-content-wrapper">
                @RenderBody()
            </div>
            <!-- content end -->
        </div>
        <!-- wrapper end -->
        <!-- footer start -->
        <footer class="footer"><p>Copyright &copy; 2015 Advanced Management Systems. All rights reserved.</p></footer>
        <!-- footer end -->
    </div>
    <!-- Main end -->
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/Scripts/Scroll")

    <script type="text/javascript">
        $(function () {
            $('#myscrl').slimScroll({
                height: '100%'
            });
        });
    </script>
    <script>
        $(".collapse-sidebar").click(function (e) {
            e.preventDefault();
            $(".overlayer").toggleClass("ol");
        });

        $(".overlayer").click(function (e) {
            $(".collapse-sidebar").click();
        });
    </script>
    <!-- jQuery for horizontal responsive Tabs -->
    @*@Scripts.Render("~/Scripts/Tabs")*@
    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab').responsiveTabs({
                rotate: false,
                startCollapsed: 'accordion',
                collapsible: 'accordion',
                setHash: true,
                /* disabled: [3,4],*/
                activate: function (e, tab) {
                    $('.info').html('Tab <strong>' + tab.id + '</strong> activated!');
                },
                activateState: function (e, state) {
                    //console.log(state);
                    $('.info').html('Switched from <strong>' + state.oldState + '</strong> state to <strong>' + state.newState + '</strong> state!');
                }
            });

        });
    </script>


</body>
</html>
